body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
 
}

.tela{

  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;



}





.card {
  
  
  text-align: center;
  width: 300px;
  height: 500px;
  max-width: 80%;
  background-color: #303030;
  border-radius: 10px;
  box-shadow: 5px 5px 5px cornflowerblue;
  border: 1px solid cornflowerblue;
  font-family: verdana;
  
  
  
  
}

.ft_perfil{
  
  margin-top: 8%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-image: cover;
  
  
  border: 1px solid cornflowerblue;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  
  
}


.txt_nome{
  font-size: 0.6rem;
  color: blueviolet;
  font-family: verdana;
  
}

.nome_principal{
   font-family: verdana;
   color: cornflowerblue;
  font-size: 1.3rem;
}

.nome_secundario{
  font-family: verdana;
  color: cornflowerblue;
  font-size: 0.7rem;
}

.btn_link{
    display: block;
  padding: 10px;
    background-color: cornflowerblue;
  color: white;
  margin: 4%;
  border-radius: 0 9px 0 9px;
  font-family: verdana;
  font-size: 0.8rem;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid cornflowerblue;
 
    
}


.btn_link:hover{
   background-color: white;
  color: cornflowerblue;
}

.compartilha{
  width: 23px;
  height: 23px;
  margin-left: 76px;
  margin-top: 2%;
  position: absolute;
  cursor: pointer;
}

#telinha{
  
  background-color: cornflowerblue;
  font-size: 0.7rem;
  width: 68%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: white;
  font-family: verdana;
  display: flex;
  cursor: default;
}

.skils{
  
  font-family: verdana;
  font-size: 0.7rem;
  color: cornflowerblue;
  
}

.dash{
   font-size: 0.7rem;
  color: white;
  padding: 1%;
  border-radius: 10px;
  font-family: verdana;
  display: inline;
  background-color: cornflowerblue;
  box-shadow: 2px 2px 2px rgba(0.5);
  cursor: default;
}


.rodape{

  background-color: cornflowerblue;
  font-size: 0.5rem;
  color: white;
  width: 40px;
  height: 20px;
  display: flex;
  border-radius: 50px 50px 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
}





/*     Configuração para tela de PC/Notebook         */

@media screen and (min-width: 800px)
{
  


.card {
  
  text-align: center;
  width: 600px;
  height: 700px;
  max-width: 80%;
  background-color: #303030;
  border-radius: 10px;
  box-shadow: 3px 5px 5px cornflowerblue;
  border: 1px solid cornflowerblue;
  font-family: verdana;
  
  
}

.ft_perfil{
  
  margin-top: 8%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-image: cover;
  border: 2px solid cornflowerblue;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  
  
}

.txt_nome{
  font-size: 0.6rem;
  color: blueviolet;
  font-family: verdana;
  
}

.nome_principal{
   font-family: verdana;
   color: cornflowerblue;
  font-size: 1.4rem;
  letter-spacing: 2px;
  cursor: default;
}

.nome_secundario{
  font-family: verdana;
  color: cornflowerblue;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: default;
}


#telinha{
  
  background-color: cornflowerblue;
  font-size: 0.7rem;
  width: 68%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  color: white;
  font-family: verdana;
  display: flex;
  cursor: default;
  
}


.btn_link{
    
  letter-spacing: 1px;
  font-size: 1rem;
  
 
    
}

.compartilha{
  width: 23px;
  height: 23px;
  margin-left: 15%;
 
  margin-top: 1%;
  position: absolute;
  cursor: pointer;
}


.compartilha:hover{
 
  width: 26px;
  height: 26px;
  transition: all 0.5s;
  
  
}

.skils{
  
  font-family: verdana;
  font-size: 0.8rem;
  color: cornflowerblue;
  
  
}


.dash{
   
  font-size: 0.7rem;
  color: white;
  padding: 1px 2% 1px 2%;
  border-radius: 15px;
  font-family: verdana;
  display: inline;
  background-color: cornflowerblue;
  box-shadow: 4px 4px 4px rgba(0.5);
  cursor: default;
  margin: 4% 1% 0;
  

}

.rodape{

  background-color: cornflowerblue;
  font-size: 0.8rem;
  color: white;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 50px 50px 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 79px;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: default;
}




}